/*************************************************
    GENERAL STYLES
 *************************************************/
:root{
    --dark-cyan-blue: #2C3E50;
    --light-cyan-blue:#3A546D;
    --green-cyan: #1ABC9C;
    --dark-charcoal: #333333;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    background-color: var(--white);
    color: var(--dark-charcoal);
}

.bg-green{
    background-color: var(--green-cyan);
    color: var(--white);
}
.bg-blue{
    background-color: var(--light-cyan-blue);
    color: var(--white);
}
.bg-dark-blue{
    background-color: var(--dark-cyan-blue);
    color: var(--white);
}
.star{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .star .fa-solid .fa-star{
    width: 20%;
 }
 .star:before , .star:after{
    content: '';
    display: block;
    background-color: var(--white);
    height: 3px;
    width: 40%;
 }
 #portfolio .star:before , #portfolio .star:after{
    background-color: var(--dark-cyan-blue);
 }
 #contact .star:before , #contact .star:after{
    background-color: var(--dark-cyan-blue);
 }
/*************************************************
    HEADER
 *************************************************/
header{
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    z-index: 1000;
}  
.nav-text{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
 #boot-navbar .nav-link, .navbar-toggler .fa-solid.fa-bars{
    color: var(--white);
    background-color: var(--dark-cyan-blue);
 }
 #boot-navbar .nav-link:hover, .navbar-toggler:hover .fa-solid.fa-bars:hover{
    color: var(--green-cyan);
    text-decoration: underline;
 }
 /*************************************************
    HERO
 *************************************************/
#hero{
    padding-top: 100px;
    /* padding-bottom: 65px; */
}
.avatar{
    width:40%;
    max-width: 100%;
}
#hero h2{
    text-transform: uppercase;
    font-size: 20px;
}
/*************************************************
    MAIN
 *************************************************/
 /* PORTFOLIO  */
.layover-container{
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.layover-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--white);
    /*display: none; N.B.su display le transizioni non funzionano*/
    z-index: 1;

    opacity: 0;
    transition: opacity 1000ms;
}
.layover-container:hover::after{
    opacity: 1;
    /* display: flex; */
}
/* ABOUT  */
.about-box{
    width: 80%;
    margin: 0 auto;
}
.about-box p{
    font-size: 14px;
    font-weight: 600;
}
.my-btn{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
.my-btn:hover{
    color: var(--green-cyan);
    background-color: var(--white);
    transform: scale(1.1);
}
/*************************************************
    FOOTER
 *************************************************/
 /* TOP  */
footer h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: .75rem;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin:  0 5px;
    cursor: pointer;
}
.footer-link{
    color: var(--green-cyan);
    text-decoration: none;
}
.footer-link:hover{
    color: var(--green-cyan);
    text-decoration: underline;
}
/* BOTTOM  */
#footer-bottom{
    height: 90px;
}
.copyright{
    font-size: 10px;
}