/*************************************************
    GENERAL STYLES
 *************************************************/
:root{
    --dark-cyan-blue: #2C3E50;
    --light-cyan-blue:#3A546D;
    --green-cyan: #1ABC9C;
    --dark-charcoal: #333333;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    background-color: var(--white);
    color: var(--dark-charcoal);
}

.bg-green{
    background-color: var(--green-cyan);
    color: var(--white);
}
.bg-blue{
    background-color: var(--light-cyan-blue);
    color: var(--white);
}
.bg-dark-blue{
    background-color: var(--dark-cyan-blue);
    color: var(--white);
}
.my-mt{
    margin-top: 65px;
}
.line{
    display: inline-block;
    background-color: var(--white);
    height: 4px;
    width: 200px;
    margin: 0 10px;
}
.break-line i{
    font-size: 30px;
    vertical-align: middle;
    padding: 0 15px;
}
.line-dark{
    display: inline-block;
    background-color: var(--dark-cyan-blue);
    padding: 2px;
    width: 200px;
    margin: 0 10px;
}
/*************************************************
    HEADER
 *************************************************/
header{
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
}
.navbar-brand{
    font-size: 28px;
}
.nav-fs{
    font-size: 18px;
    color: var(--white);
    font-weight: bold;
}
 header nav .nav-link:hover{
    color: var(--green-cyan);
    text-decoration: underline;
 }
 /*************************************************
    HERO
 *************************************************/
#hero{
    padding-top: 100px;
    padding-bottom: 65px;
}
.avatar img{
    width:35%;
    max-width: 100%;
}
/*************************************************
    MAIN
 *************************************************/

/*************************************************
    FOOTER
 *************************************************/
#footer-top{
    height: 250px;
}
#footer-bottom{
    height: 100px;
}
