/* common  */
:root{
    --dark-cyan-blue: #2C3E50;
    --light-cyan-blue:#3A546D;
    --green-cyan: #1ABC9C;
    --dark-charcoal: #333333;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    background-color: var(--white);
    color: var(--dark-charcoal);
}

.bg-green{
    background-color: var(--green-cyan);
    color: var(--white);
}
.bg-blue{
    background-color: var(--light-cyan-blue);
    color: var(--white);
}
.bg-dark-blue{
    background-color: var(--dark-cyan-blue);
    color: var(--white);
}


/* header  */
header{
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
}
.nav-fs{
    font-size: 14px;
    color: var(--white);
    font-weight: 500;
}
 header nav .nav-link:hover{
    color: var(--green-cyan);
    text-decoration: underline;
 }
#hero{
    padding-top: 100px;
}
.avatar img{
    width:50%;
    max-width: 100%;
}
h1{
    font-size: 70px;
}
.line{
    display: inline-block;
    background-color: var(--white);
    padding: 1.5px;
    width: 200px;
    margin: 0 10px;
}
.break-line i{
    font-size: 25px;
    vertical-align: middle;
    padding: 0 15px;
}
.line-dark{
    display: inline-block;
    background-color: var(--dark-cyan-blue);
    padding: 1.5px;
    width: 200px;
    margin: 0 10px;
}
.title{
    font-size: 54px;
}

